# Python_Groups_Hands-on

## Project: Library Management System
### Description:
- Develop a basic Library Management System (LMS) that allows users to manage book records, including adding, updating, deleting, and displaying book information. The system should also provide basic statistical analysis.

### System requirements:

#### Data Structure Design:

  - Define data structures using lists, tuples, dictionaries, and sets to store book information (e.g., book ID, title, author, year, genres).

#### Basic Operations:

- Implement functions to add, update, delete, and display book records.
- Ensure proper type conversion and validation of inputs.

#### Statistical Analysis:

- Write functions to calculate and display the total number of books, the average publication year, and the most common genre.
- Use list comprehensions and built-in functions (sort, len, zip, range) for calculations.

#### Advanced Features:

- Implement search functionality to find books by title or author using lambda functions.
- Provide sorting options for book records based on different criteria (e.g., title, year).


#### Exception Handling:

- Handle potential errors (e.g., invalid input) using try-except blocks.

#### Q1: Using the following table, create a function to add these books to your library:



| Book ID | Title                            | Author               | Year | Genres                              |
|---------|----------------------------------|----------------------|------|-------------------------------------|
| 1       | Harry Potter and the Sorcerer's Stone | J.K. Rowling         | 1997 | Fantasy, Young Adult                |
| 2       | To Kill a Mockingbird             | Harper Lee           | 1960 | Fiction, Classics                   |
| 3       | The Great Gatsby                  | F. Scott Fitzgerald  | 1925 | Fiction, Classics                   |
| 4       | 1984                              | George Orwell        | 1949 | Fiction, Dystopian                  |
| 5       | The Catcher in the Rye            | J.D. Salinger        | 1951 | Fiction, Classics                   |
| 6       | Pride and Prejudice               | Jane Austen          | 1813 | Fiction, Romance, Classics          |
| 7       | The Hobbit                        | J.R.R. Tolkien       | 1937 | Fantasy, Adventure                  |
| 8       | The Hunger Games                  | Suzanne Collins      | 2008 | Science Fiction, Dystopian, Young Adult |
| 9       | The Da Vinci Code                 | Dan Brown            | 2003 | Mystery, Thriller                   |
| 10      | The Chronicles of Narnia          | C.S. Lewis           | 1950 | Fantasy, Children's Literature      |
| 11      | Gone with the Wind                | Margaret Mitchell    | 1936 | Historical Fiction, Romance         |
| 12      | Sapiens: A Brief History of Humankind | Yuval Noah Harari   | 2011 | Nonfiction, History, Science        |
| 13      | The Road                          | Cormac McCarthy      | 2006 | Fiction, Post-Apocalyptic           |
| 14      | The Girl with the Dragon Tattoo   | Stieg Larsson        | 2005 | Mystery, Thriller                   |
| 15      | The Alchemist                     | Paulo Coelho         | 1988 | Fiction, Inspirational              |

### Expected output:
~~~~~~~~~~~~~~~~~~~~~~~~~
{1: {'title': 'title',
  'author': 'author',
  'year': 2025,
  'genres': ['genre 1', 'genre 2', 'genre 3']}}
  ~~~~~~~~~~~~~~~~~~~~~~~~~

In [ ]:
# write your code here ^_^

#### Q2: Create a function that updates books exsisted in your library and test it.
- **Note**: If the user entered wrong book ID it should print "Book with ID 'num' does not exist.

### Expected output:
~~~~~~~~~~~~~~~~~~~~~~~~~
Book with ID 16 does not exist.

Book with ID 1 info updated.
~~~~~~~~~~~~~~~~~~~~~~~~~

In [ ]:
# write your code here ^_^

#### Q3: Create a function to delete books from your library and test it.

### Expected output:
~~~~~~~~~~~~~~~~~~~~~~~~~
Book with ID 16 does not exist.

Book with ID 1 Deleted.
~~~~~~~~~~~~~~~~~~~~~~~~~

In [ ]:
# write your code here ^_^

#### Q4: Create a function that displays books information from your library and test it.

### Expected output:
~~~~~~~~~~~~~~~~~~~~~~~~~
ID: 1, Title: title, Author: author, Year: 2025, Genres: ['genre 1', 'genre 2', 'genre 3']

ID: 2, Title: title2, Author: author2, Year: 2010, Genres: ['genre 12', 'genre 22', 'genre 32']
~~~~~~~~~~~~~~~~~~~~~~~~~

In [ ]:
# write your code here ^_^

#### Q5: Create functions to do the following: calculates and display the total number of books, the average publication year, and the most common genre. and test it.

### Expected output:
~~~~~~~~~~~~~~~~~~~~~~~~~
2

2017.5

'genre 2'
~~~~~~~~~~~~~~~~~~~~~~~~~

In [ ]:
# write your code here ^_^

#### Q6: Create 2 functions to search for books by the title and the author from your library and test it.

### Expected output:

searched for title2 and author2:

~~~~~~~~~~~~~~~~~~~~~~~~~
{2: {'title': 'title2', 'author': 'author2', 'year': 2010, 'genres': ['genre 12', 'genre 22', 'genre 32']},


{2: {'title': 'title2', 'author': 'author2', 'year': 2010, 'genres': ['genre 12', 'genre 22', 'genre 32']},
~~~~~~~~~~~~~~~~~~~~~~~~~

In [ ]:
# write your code here ^_^

#### Q7: Create 2 functions to sort the books by the title and the year from your library and test it.

**Hint**: Use lambda function

In [ ]:
# write your code here ^_^

#### Q8: Create a function to bulk update genres(Replace a specific genre with a new genre) of books using list comprehension. and test it.

### Expected output:

```python
bulk_update_genres("genre 22", "Drama")
```
~~~~~~~~~~~
- Before:
{2: {'title': 'title2', 'author': 'author2', 'year': 2010, 'genres': ['genre 12', 'genre 22', 'genre 32']},
- After:
{2: {'title': 'title2', 'author': 'author2', 'year': 2010, 'genres': ['genre 12', 'Drama', 'genre 32']},

In [ ]:
# write your code here ^_^

#### Q9: Implement a function to generate a report summarizing the library's statistics, including the total number of books, the number of books by each author, the number of books in each genre, and the oldest and newest books. and test it.

In [ ]:
# write your code here ^_^